* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* NAVBAR */
.main-navbar {
  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
  margin-right: 15px;
}

.nav-link:hover {
  color: #7CFFCB !important;
}
.brand-font,
.hero-title {
  font-family: 'Pacifico', cursive;
}
.glow-text {
  color: #fff;
  text-shadow:
    0 0 8px #ffffff,
    0 0 20px rgba(255, 255, 255, 0.8),
    0 0 35px rgba(255, 255, 255, 0.8);
}

/* VIDEO */
.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.video-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  z-index: -1;
}

/* SECTIONS */
.page-section {
  padding-top: 100px;
}

/* TEXT */
.hero-title {
  font-family: 'Pacifico', cursive;
  font-size: 64px;
  color: #fff;
}

.hero-sub {
  color: #eee;
}
/* LOGO ICON FIX */
.logo-icon svg {
  width: 42px;
  height: 42px;
  display: block;
}


/* HOME CARD */
.glass-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  padding: 30px;
  border-radius: 20px;
  color: #fff;
}

/* REGISTER FORM */
.form-box {
  background: #fff;
  padding: 30px;
  border-radius: 16px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #555;
}

.form-control {
  font-size: 14px;
  padding: 10px 12px;
}

/* STEPS */
.form-step {
  display: none;
}

.form-step.active {
  display: block;
}

.step-indicator {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 12px;
}

.step-item {
  color: #999;
}

.step-item.active {
  color: #198754;
  font-weight: 600;
}
